header {
  background-color: #000000;
  color: white;
  text-align: center;
}

main{
  background-color: #D3D3D3;
  text-align: center;
  padding: 1em;
}

body {
  background-image: url(record.png);
  background-position: center;
  background-repeat: repeat;
  margin: 0;
}
